.purchase-btn-back {
  height: 150px;
  background: rgb(91, 181, 233); 
  justify-content: space-around;
 
}

.purchase-btna {
  width: 90vh;
  background: #FFF;
  text-align: center;
  bottom: 32px;
  right: 32px;
  height: 100px;
}
