a {
  text-decoration: none;
}

.top-header-t{
 font-size: 60px;
 color: antiquewhite;
}

.top-header{
  font-size: 17px;
  text-align: right;
  color: antiquewhite;
}

.item-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.item-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
}


.item-img-content {
  position: relative;
}

.item-img {
  width: 35vh;
  height: 35vh;
  border: solid 4px rgb(0, 0, 0);

}

.sold-out {
  position: absolute;
  top: 30%;
  width: 104%;
  text-align: center;
  background-color: rgb(104, 60, 60);
  transform: skewY(-30deg);
}

.sold-out>span {
  color: #FFF;
  font-size: 45px;
  font: bold;
}

.item-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

.item-name {
  font-size: 2.5vh;
}

.item-price{
  color: black;
}